body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 15px 15%;
    align-items: center;
}

.header div {
    font-size: 24px;
    color: #f9faf8;
}

.call-secondary-text,
.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 15px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    height: 400px;
    padding: 30px 15%;
    margin-top: -41px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.left-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    gap: 10px;
}

.right-one img {
    width: 350px;
    height: auto;
}

.call-to-action button,
.hero-button {
    padding: 8px 25px;
    background-color: #3882f6;
    width: fit-content;
    height: auto;
    border-radius: 8px ;
    border-color: #1F2937;
    color: #f9faf8;
    font-weight: bold;
    border: none;
}


.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 60px; 
    height: 350px;
}

.info-one {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.image-panel {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    color: #adadad;
    text-align: center;
}

.panel {
    max-width: 200px;
}

.panel img {
    border: solid #3882f6;
    border-radius: 8px;
    border-width: 4px;
}

img {
    height: auto;
    width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 0px 19%;
    height: 400px;
    gap: 20px;
}

.quote-text {
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.quote-by {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.call-to-action {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-call {
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    height: 65%;
    width: 65%;
    border-radius: 8px;
}

.call-main-text {
    font-size: 18px;
    color: #f9faf8;
    font-weight: bold;
}

.call-to-action button {
    border-color: #f9faf8;
    border: solid;
}

.footer {
    display: flex;
    height: 50px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;    
}