body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 15px;
    align-items: center;
}

.header div {
    font-size: 24px;
    color: #f9faf8;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 15px;
}

img {
    height: 170px;
    width: auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    height: 300px;
    padding: 30px 75px;
    margin-top: -20px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.left-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    gap: 10px;
}

.right-one img {
    width: 350px;
    height: auto;
}

.hero-button {
    padding: 8px 25px;
    background-color: #3882f6;
    width: fit-content;
    height: auto;
    border-radius: 8px ;
    border-color: #1F2937;
    color: #f9faf8;
    font-weight: bold;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    gap: 40px; 
}

.info-one {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}